*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100px;
    border: 1px solid black;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.interruttore-container{
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

.interruttore-pulsante-container{
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

.spegni-lampadina{
    width: 300px;
    height: 300px;
    background-image: url(/img/yellow_lamp.png);
    background-repeat: no-repeat;
    background-position: center;
}

.accendi-lampadina{
    width: 400px;
    height: 300px;
    background-image: url(/img/white_lamp.png); 
    background-repeat: no-repeat;
    background-position: center;
}